# Imprimir y tipos de variables.

In [1]:
print("Hola mundo")

Hola mundo

In [7]:
print("solo se \n ...que nada se")
# salto de linea es con slash inverso.

solo se
 ...que nada se

In [6]:
x=1
#imprimir en pantalla
print("El valor de x = ",1)

El valor de x =  1

In [10]:
y="¡Vamos a programar!"
# imprimir en pantalla
print("El valor de y es un char y equivale a =",y)
print("otro print es automaticamente otro salto de linea")

El valor de y es un char y equivale a = ¡Vamos a programar!
otro print es automaticamente otro salto de linea

In [12]:
# La asignación de variables es dinámica. 
# por ejemplo:
x = 1234
print('x es un numero entero',x )

x=5.6
print('x es un numero entero',x )

x='25 de mayo'
print('x es un numero entero',x )

x es un numero entero 1234
x es un numero entero 5.6
x es un numero entero 25 de mayo

### Ejercicio de edad

In [13]:
z=input("Digite su edad: ")

print("Tengo",z, "años")

Digite su edad:  26

Tengo 26 años

### Números enteros

In [18]:
t=1 
print(x)
#Type en este caso es una función que devuelve el tipo de dato:
print("La variable x es de tipo = ",type(t))

1
La variable x es de tipo =  <class 'int'>

In [19]:
o = 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001
print("La variable x es de tipo = ",type(o))

La variable x es de tipo =  <class 'int'>

In [22]:
total='120'
print(total)

print("El tipo de la variable total es ", type(total))

120
El tipo de la variable total es  <class 'str'>

In [23]:
total = int(total)

print("El tipo de la variable total después de usar int es ", type(total))

El tipo de la variable total después de usar int es  <class 'int'>

In [28]:
#input por defecto es un char siempre
edad = int(input("ingrese su edad"))
print(edad)
print("el tipo de la variable edad es: ",type(edad))

ingrese su edad 26

26
el tipo de la variable edad es:  <class 'int'>

Cada vez que se quiere cambiar una variable se antepone el tipo de la variable (la función) a la variable que se quiere modificar

### Números Enteros

In [32]:
x = 1.

print("el tipo de la variable x es ahora",type(x))

el tipo de la variable x es ahora <class 'float'>

### Números complejos

In [36]:
x = 3.4+4j
print(x)
print("el tipo de variable de x es :",type(x))

(3.4+4j)
el tipo de variable de x es : <class 'complex'>

### Booleanos

In [39]:
x = False
print(x)
print("el tipo de variable de x es :",type(x))

False
el tipo de variable de x es : <class 'bool'>

### NONE

In [40]:
x = None
print(x)
print("el tipo de variable de x es :",type(x))

None
el tipo de variable de x es : <class 'NoneType'>

### Ejercicio

In [41]:
z=5 

print(z is None)

False

### Texto

In [42]:
a = 'este texto es comillas sencillas'
print(a)

este texto es comillas sencillas

In [43]:
a = 'este texto es "comillas" sencillas con comillas dobles afuera'
print(a)

este texto es "comillas" sencillas con comillas dobles afuera

In [44]:
#comentario con comillas simples triples 
'''
ESto 
es 
un 
comentario 
re 
largo
'''

'\nESto \nes \nun \ncomentario \nre \nlargo\n'

In [47]:
print('salto de linea es "\\n" \n tal que así')

salto de linea es "\n"
 tal que así

In [61]:
text = "Se puede extraer un caracter del texto usando brakerts "

In [62]:
print(text[5])

e

In [63]:
#para borrar una variable se usar del 
n = 2
print(n)
del n 
print(type(n))

2

NameError: name 'n' is not defined

In [56]:
# Asignación múltiple
w, x, y, z = "Apple", "Watermelon", "Grape", 28
print(w)
print(x)
print(y)
print(z)
print(w, x, y, z, sep=", ")

Apple
Watermelon
Grape
28
Apple, Watermelon, Grape, 28

In [58]:
a=1
b=1.0
print(a==b)
print(a is b)

True
False